body {
    background: -webkit-linear-gradient(right, #79D70F 50%, #D32626 50%);
    background: -o-linear-gradient(right, #79D70F 50%, #D32626 50%);
    background: -moz-linear-gradient(right, #79D70F 50%, #D32626 50%);
    background: linear-gradient(to right, #79D70F 50%, #D32626 50%);
    margin: 0;
    padding: 0;
    width: 100%;
}

/* End Game Message */

.endGame {
    margin: auto;
    width: 50%;
    height: 500px;
    margin-top: 20px;
    border: 3px solid #FEBE8C;
    background-color: rgba(245, 205, 119, 0.24);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.endGame h1 {
    font-size: 50px;
}

/* Try Again Button */

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 5vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: initial;
    background: #FFE9A0;
    border: none;
    border-radius: 50px;
    box-shadow: #FC0 5px 5px 10px;
  }
  
.button:hover {
    background-color: #367E18;
    color: white;
}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.scoreMessage {
    font-size: 30px;
}
.scoreMessage1 {
    font-size: 30px;
}


/* LOGO */
  div {
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: white;
    text-shadow: #FC0 5px 5px 10px;
    font-size: 15vh;
    letter-spacing: -1px;
    line-height: 0.7;
}

.check {
    color: #06FF00;
    border: 0; 
    margin: 0;
    padding: 0;
}

.cross {
    color: #FF1700
}