    /* Desktop */
    *{
        margin: 0;
    }

    body{
        font-family: "Trirong", serif;
    }

    /* Home */
    .diagonal-box{
        width: 100vw;
        height: 100vh;
        background-image: -webkit-linear-gradient(15deg, #bd0707 15%, #000000 15%);

    }

    /* Home Photo */
    .photoflex{
        display: flex;
        justify-content: space-between;
    }
    
    .photo img{
        width: 400px;
        height: 550px;
        margin-left: 30px;
        margin-top: 23px;
    }

    /* Home Intro */

    .webdev {
        /* padding-left: 270px; */
        margin-top: 120px;
        padding-right: 50px;
    }

    .webdev h1{
        color: #bd0707;
        font-size: 100px;
        font-family: "Audiowide", sans-serif;
    }

    .webdev h2{
        color: white;
        font-size: 70px;
    }

    .webdev p{
        color: white;
        font-size: 25px;
    }
    
    .button{
        display: block;
        width: 130px;
        height: 20px;
        background: #bd0707;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        color: white;
        font-weight: bold;
        line-height: 25px;
        text-decoration: none;
        transition: width 1s, height 1s;
        font-size: 14px;
    }

    html{
        scroll-behavior: smooth;
    }

    .button:hover{
        background-color: rgb(238, 51, 5);
        width: 150px;
        height: 25px;
    }

    /* More */
    .boxdetail{
        margin-top: 120px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
    }

    .work, .skill, .project, .contact{
        margin-bottom: 40px;
        font-size: 40px;
        color: white;
        transition: transform 1.5s;
    }

    .boxdetail p{
        font-size: 15px;
    }

    .work:hover{
        color: rgb(238, 51, 5);
    }

    .skill:hover{
        color: rgb(238, 51, 5);
    }

    .project:hover{
        color: rgb(238, 51, 5);
    }
    
    .contact:hover{
        color: rgb(238, 51, 5);
    }

    /* Social Media */
    
    .social{
        font-size: 30px;
        position: absolute;
    }

    .facebook:hover{
        color: rgb(238, 51, 5);
        transform: rotate(360deg);
    }
    .tiktok:hover{
        color: rgb(238, 51, 5);
        transform: rotate(360deg);
    }

    .linkedin:hover{
        color: rgb(238, 51, 5);
        transform: rotate(360deg);
    }

    .github:hover{
        color: rgb(238, 51, 5);
        transform: rotate(360deg);
    }

    .facebook{
        color: rgb(0, 0, 0);
        transition: color 0.5s;
        position: absolute;
        left: 0px;
        top: 100px;
        border-style: solid;
        padding-left: 10px;
        background-color: white;
        transition: transform 1.5s;
    }

    .tiktok{
        color: rgb(0, 0, 0);
        transition: color 0.5s;
        position: absolute;
        left: 0px;
        top: 150px;
        border-style: solid;
        padding-left: 10px;
        background-color: white;
        transition: transform 1.5s;
    }

    .linkedin{
        color: rgb(0, 0, 0);
        transition: color 0.5s;
        position: absolute;
        left: 0px;
        top: 200px;
        border-style: solid;
        padding-left: 10px;
        background-color: white;
        transition: transform 1.5s;
    }

    .github{
        color: rgb(0, 0, 0);
        transition: color 0.5s;
        position: absolute;
        left: 0px;
        top: 250px;
        border-style: solid;
        padding-left: 10px;
        background-color: white;
        transition: transform 1.5s;
    }

    /* Blog */

    .aboutme{
        display: grid;
        grid-template-columns: 800px 200px;
        text-align: center;
        height: 100vh;
        padding-left: 70px;
        padding-top: 50px;
        width: 100%;
    }

    .story{
        width: 550px;
        height: 610px;
        box-shadow: 5px 5px #59CE8F;
        border-radius: 5px;
        padding: 10px;
    }

    .aboutme h3{
        font-size: 25px;
        color: #DC5F00;
    }

    .aboutme h2{
        font-size: 40px;
        color: #DC5F00;
    }

    .aboutme h4{
        font-size: 40px;
        color: #59CE8F;
    }

    .aboutme p{
        font-size: 15px;
        color: #363636;
    }

    /* CSV */

    .info{
        width: 550px;
        height: 530px;
        box-shadow: 5px 5px #59CE8F;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .info img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 5px solid #59CE8F;
    }

    .info p{
        color:#DC5F00;
        font-size: 20px;
    }

    .csv{
        color: black;
        font-size: 30px;
    }

    .csv p{
        font-size: 10px;
    }

    table{
        margin-left: 130px;
        border-spacing: 4px;
    }

    .left{
        text-align: left;
    }

    .right{
        text-align: right;
    }

        /* Work / Skill */

    .work-container{
        display: grid;
        grid-template-columns: 800px 200px;
        text-align: center;
        margin-top: 30px;
        background-color: #59CE8F;
        padding-top: 20px;
        padding-bottom: 60px;
        width: 100%;
        height: 100vh;
    }

    .workbox1{
        width: 550px;
        height: 420px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .worktable{
        width: 600px;
        height: 550px;
        box-shadow: 5px 5px #DC5F00;
        border-radius: 5px;
    }

    .thead{
        background-color: #E8F9FD;
        color:#59CE8F;
        border-radius: 10px;
        font-size: 35px;
    }

    .tdyear{
        font-weight: bolder;
        font-size: 20px;
    }

    .tdanswer{
        font-weight: bolder;
        font-size: 20px;
    }

    .ptable{
        color: #E8F9FD;
        font-size: 15px;
    }
 
    .workbox2{
        width: 600px;
        height: 540px;
        box-shadow: 5px 5px #DC5F00;
        border-radius: 5px;
        margin-top: 105px;
    }

    .workbox2 h2{
        background-color: #E8F9FD;
        color:#59CE8F;
        border-radius: 10px;
        font-size: 35px;
        height: 65px;
        padding-top: 25px;
    }

    .workbox2 p{
        font-weight: bolder;
        font-size: 20px;
        margin-top: 40px;
    }

    .skillsicons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        font-size: 40px;
        margin-top: 15px;
    }

    .skillsicons p{
        margin: 0;
        color: white;
    }

    /* Project */

    .project-container{
        width: 100%;
    }

    .project-container div{
        color: white;
        background-color: #000000;
        text-align: center;
        font-size: 50px;
        width: 100%;
        height: 200px;
        padding-top: 100px;
    }

    /* Contact */

    .contact-container{
        border-radius: 5px;
        background-color: white;
        padding: 20px;
        width: 100%;
    }

    input[type=text], select, textarea {
        width: 100%padding 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .firstname{
        font-size: 20px;
        color:white;
    }

    .lastname{
        font-size: 20px;
        color:white;
    }

    .contactemail{
        font-size: 20px;
        color:white;
    }

    .subjecttext{
        font-size: 20px;
        color:white;
        clear:both;
    }

    .subjecttext textarea{
        width: 70%;
    }

    .cbox{
        margin: auto;
        width: 50%;
        border-radius: 5px;
        background-color:#59CE8F;
        padding: 10px;
    }

    /* Footer */

    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-image: -webkit-linear-gradient(15deg, #bd0707 15%, #000000 15%);
        color: white;
        text-align: center;
        font-size: 15px;
        padding-top: 20px;
    }

    /* Media Query */
    /* Tablet */
    @media only screen and (max-width: 991px){
        .diagonal-box{
        width: 170%;
        height: 1500px;
        background-image: -webkit-linear-gradient(-50deg, #bd0707 25%, #000000 25%);
        }

        .photoflex{
            padding-top: 300px;
        }
        
        .photo img{
            padding-left: 30px;
            margin-top: 23px;
        }

        .webdev {
            padding-top: 5px;
            padding-left: unset;
        }

        .webdev h1{
            font-size: 120px;
        }

        .webdev h2{
            font-size: 90px;
        }

        .webdev p{
            font-size: 35px;
        }
        
        .button{
            width: 270px;
            height: 60px;
            padding: 10px;
            line-height: 60px;
            font-size: 30px;
        }

        .boxdetail{
            margin-top: 10px;
            padding-right: 250px;
            display: flex;
            flex-direction: column;
        }

        .work, .skill, .project, .contact{
            margin-bottom: 50px;
            font-size: 90px;
            color: white;
            transition: transform 1.5s;
        }

        .aboutme{
            display: grid;
            grid-template-columns: 800px 200px;
            text-align: center;
            margin-top: 30px;
            width: 100%;
        }

        .story{
            width: 600px;
            height: 500px;
            margin-top: 200px;
        }

        .aboutme h3{
            font-size: 50px;
        }

        .aboutme h2{
            font-size: 70px;
        }

        .aboutme h4{
            font-size: 70px;
        }

        .aboutme p{
            font-size: 30px;
        }

        .info{
            width: 600px;
            height: 500px;
            margin-top: 200px;
        }

        .work-container{
            width: 160%;
            height: 700px;
        }

        .tdyear{
            font-size: 25px;
        }

        .tdanswer{
            font-size: 25px;
        }

        .ptable{
            font-size: 25px;
        }

        .workbox2 p{
            font-size: 30px;
        }

        .project-container{
            width: 160%;
        }

        .contact-container{
            width: 170%;
         }

        .firstname{
            font-size: 25px;
        }

        .lastname{
            font-size: 25px;
        }

        .contactemail{
            font-size: 25px;
        }

        .subjecttext{
            font-size: 25px;
        }

        .footer {
            width: 170%;
        }

    /* mobile */

    @media only screen and (max-width: 767px){
        .diagonal-box{
        width: 200%;
        height: 1600px;
        background-image: -webkit-linear-gradient(-70deg, #bd0707 25%, #000000 25%);
        }

        .photoflex{
            padding-top: 200px;
        }
        
        .photo img{
            height: 450px;
            width: 350px;
        }

        .webdev {
            padding-top: 5px;
            padding-left: unset;
        }

        .webdev h1{
            font-size: 100px;
        }

        .webdev h2{
            font-size: 65px;
        }

        .webdev p{
            font-size: 30px;
        }
        
        .button{
            width: 270px;
            height: 60px;
            padding: 10px;
            line-height: 60px;
            font-size: 30px;
            padding-left: 20px;
        }

        .boxdetail{
            margin-top: 10px;
            padding-right: 100px;
        }

        .work, .skill, .project, .contact{
            margin-bottom: 50px;
            font-size: 50px;
            color: white;
            transition: transform 1.5s;
        }

        .aboutme{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
        }

        .story{
            width: 700px;
            height: 600px;
            padding-left: 300px;
            padding-right: 200px;
            margin-left: unset;
        }

        .aboutme h3{
            font-size: 55px;
        }

        .aboutme h2{
            font-size: 75px;
        }

        .aboutme h4{
            font-size: 80px;
        }

        .aboutme p{
            font-size: 40px;
        }

        .info{
            width: 700px;
            height: 600px;
            padding-left: 300px;
            padding-right: 200px;
            padding-bottom: 50px;
        }

        .info img{
            width: 300px;
            height: 300px;
            margin-bottom: 50px;
        }

        .info td{
            font-size: 35px;
        }

        .left{
            text-align: left;
        }

        .right{
            text-align: right;
        }

        .work-container{
            width: 200%;
            height: 1800px;
            display: flex;
            flex-direction: column;
        }

        .worktable{
            width: 1000px;
            border-radius: 5px;
        }

        .thead{
            font-size: 65px;
        }

        .tdyear{
            font-size: 40px;
        }

        .tdanswer{
            font-size: 45px;
        }

        .ptable{
            font-size: 35px;
        }
    
        .workbox2{
            width: 1000px;
            height: 540px;
            margin-top: 300px;
            margin-left: 130px;
        }

        .workbox2 h2{
            font-size: 65px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .workbox2 p{
            font-size: 40px;
        }

        .project-container{
            width: 200%;
        }

        .contact-container{
            width: 200%;
         }

        .firstname{
            font-size: 35px;
        }

        .lastname{
            font-size: 35px;
        }

        .contactemail{
            font-size: 35px;
        }

        .subjecttext{
            font-size: 35px;
        }

        .footer {
            width: 200%;
        }
    }